Take September and as City Milano

In [24]:
import pandas as pd
import numpy as np
import patsy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import lars_path
from sklearn.linear_model import LinearRegression, Lasso, LassoCV
from sklearn.metrics import r2_score
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
%matplotlib inline

In [25]:
airbnbOCT= pd.read_csv("/Users/jacopobinati/Desktop/Prediction ML/assignment2/listings_Oct.csv")
airbnbOCT.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,9630344,https://www.airbnb.com/rooms/9630344,20231001204715,2023-10-02,city scrape,Rental unit in Brooklyn · ★4.80 · 1 bedroom ·...,Enjoy your own private bedroom in our 2 bedroo...,Easy access to subway. Trendy and yet quiet.,https://a0.muscache.com/pictures/496cf3f1-7d0d...,47783628,...,5.00,4.80,5.00,NaN,f,1,0,1,0,0.06
1,3533741,https://www.airbnb.com/rooms/3533741,20231001204715,2023-10-02,previous scrape,Rental unit in New York · 1 bedroom · 1 bed · ...,Come stay in the heart of historic Hells Kitch...,NaN,https://a0.muscache.com/pictures/45157664/862a...,17791294,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
2,9731039,https://www.airbnb.com/rooms/9731039,20231001204715,2023-10-02,previous scrape,Rental unit in Queens · Studio · 1 bed · 1 bath,Studio Apartment in the heart of Sunnyside: of...,NaN,https://a0.muscache.com/pictures/81a96b92-d357...,50213378,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
3,21736164,https://www.airbnb.com/rooms/21736164,20231001204715,2023-10-02,previous scrape,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,"Light-filled, high-ceilinged 1BR brownstone ap...","The neighborhood is vibrant, multicultural, an...",https://a0.muscache.com/pictures/4e3ee5e2-baa1...,4298654,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.03
4,22280002,https://www.airbnb.com/rooms/22280002,20231001204715,2023-10-01,city scrape,Rental unit in Brooklyn · ★4.98 · 1 bedroom · ...,This is a comfortable super spacious sunny 1 b...,Welcome to the enchanting neighborhood of Stuy...,https://a0.muscache.com/pictures/b187bce7-ded7...,67373899,...,4.91,4.94,4.92,NaN,f,1,1,0,0,1.26

In [26]:
column_info = pd.DataFrame({
    "ID": range(len(airbnbOCT.columns)),
    "Variable": airbnbOCT.columns
})
print(column_info)

    ID                                      Variable
0    0                                            id
1    1                                   listing_url
2    2                                     scrape_id
3    3                                  last_scraped
4    4                                        source
..  ..                                           ...
70  70                calculated_host_listings_count
71  71   calculated_host_listings_count_entire_homes
72  72  calculated_host_listings_count_private_rooms
73  73   calculated_host_listings_count_shared_rooms
74  74                             reviews_per_month

[75 rows x 2 columns]

### Cleaning Dataset
#### After indexing the columns, i dropped some of them (can be checked under). Moreover, I decided to keep a threshold of 40% for varibales with NAs. If we are too narrow, we will reduce the number of variable drastically.

In [27]:
columns_to_drop = [
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
    11, 12, 13, 15, 20,
    21,
    44, 45, 46, 47,
    56, 60,
    61, 69
]
airbnb_dropped = airbnbOCT.drop(columns=airbnbOCT.columns[columns_to_drop])
threshold = 0.4
airbnb_nmiss = airbnb_dropped.loc[:, airbnb_dropped.isnull().mean() < threshold]
print(airbnb_nmiss.describe())
airbnb2 = airbnb_nmiss.copy()
airbnb2['price'] = airbnb2['price'].replace('[\$,]', '', regex=True).astype(float)

airbnb2['price'] = pd.to_numeric(airbnb2['price'], errors='coerce')
airbnb2 = airbnb2[airbnb2['price'] <= 10000]
airbnb2['ln_price'] = np.log(airbnb2['price'])

       host_listings_count  host_total_listings_count      latitude
count         38787.000000               38787.000000  38792.000000  \
mean            141.639286                 228.431021     40.729379
std             625.516773                 977.805887      0.056725
min               1.000000                   1.000000     40.500314
25%               1.000000                   1.000000     40.688790
50%               2.000000                   3.000000     40.726290
75%               7.000000                  10.000000     40.762672
max            4559.000000                8820.000000     40.911380

          longitude  accommodates          beds  minimum_nights
count  38792.000000  38792.000000  38129.000000    38792.000000  \
mean     -73.945829      2.907249      1.650214       30.639977
std        0.055115      2.101448      1.169714       26.633260
min      -74.251907      1.000000      1.000000        1.000000
25%      -73.982820      2.000000      1.000000       30.000000
50%      -73.953886      2.000000      1.000000       30.000000
75%      -73.926209      4.000000      2.000000       30.000000
max      -73.713650     16.000000     42.000000     1250.000000

       maximum_nights  minimum_minimum_nights  maximum_nights_avg_ntm  ...
count    3.879200e+04            38792.000000            3.879200e+04  ...  \
mean     5.701389e+04               31.148355            1.194086e+06  ...
std      1.090426e+07               29.797479            4.840311e+07  ...
min      1.000000e+00                1.000000            1.000000e+00  ...
25%      1.800000e+02               30.000000            3.650000e+02  ...
50%      3.650000e+02               30.000000            1.125000e+03  ...
75%      1.125000e+03               30.000000            1.125000e+03  ...
max      2.147484e+09             1250.000000            2.147484e+09  ...

       review_scores_cleanliness  review_scores_checkin
count               28040.000000           28026.000000  \
mean                    4.622926               4.811373
std                     0.561048               0.422505
min                     0.000000               0.000000
25%                     4.500000               4.800000
50%                     4.800000               4.940000
75%                     5.000000               5.000000
max                     5.000000               5.000000

       review_scores_communication  review_scores_location
count                 28034.000000             28023.00000  \
mean                      4.805698                 4.72422
std                       0.453719                 0.41988
min                       0.000000                 0.00000
25%                       4.800000                 4.62000
50%                       4.960000                 4.84000
75%                       5.000000                 5.00000
max                       5.000000                 5.00000

       review_scores_value  calculated_host_listings_count
count         28024.000000                    38792.000000  \
mean              4.621431                       38.581563
std               0.524053                      113.306079
min               0.000000                        1.000000
25%               4.507500                        1.000000
50%               4.750000                        1.000000
75%               4.930000                        6.000000
max               5.000000                      602.000000

       calculated_host_listings_count_entire_homes
count                                 38792.000000  \
mean                                     17.716875
std                                      78.568336
min                                       0.000000
25%                                       0.000000
50%                                       1.000000
75%                                       2.000000
max                                     602.000000

       calculated_host_listings_count_private_rooms
count                                  38792.000000  \
mean                                      20.775830
std                                       79.972929
min                                        0.000000
25%                                        0.000000
50%                                        0.000000
75%                                        2.000000
max                                      529.000000

       calculated_host_listings_count_shared_rooms  reviews_per_month
count                                 38792.000000       28440.000000
mean                                      0.037637           1.078758
std                                       0.324752           1.651815
min                                       0.000000           0.010000
25%                                       0.000000           0.110000
50%                                       0.000000           0.410000
75%                                       0.000000           1.520000
max                                       8.000000          62.820000

[8 rows x 27 columns]

/Users/jacopobinati/opt/miniconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [28]:
for column in airbnb2.columns:
    value_type = type(airbnb2.loc[0, column])
    print(f"Column '{column}' has values of type: {value_type}")

Column 'host_response_rate' has values of type: <class 'float'>
Column 'host_acceptance_rate' has values of type: <class 'float'>
Column 'host_is_superhost' has values of type: <class 'str'>
Column 'host_thumbnail_url' has values of type: <class 'str'>
Column 'host_listings_count' has values of type: <class 'numpy.float64'>
Column 'host_total_listings_count' has values of type: <class 'numpy.float64'>
Column 'host_verifications' has values of type: <class 'str'>
Column 'host_has_profile_pic' has values of type: <class 'str'>
Column 'host_identity_verified' has values of type: <class 'str'>
Column 'neighbourhood_cleansed' has values of type: <class 'str'>
Column 'neighbourhood_group_cleansed' has values of type: <class 'str'>
Column 'latitude' has values of type: <class 'numpy.float64'>
Column 'longitude' has values of type: <class 'numpy.float64'>
Column 'property_type' has values of type: <class 'str'>
Column 'room_type' has values of type: <class 'str'>
Column 'accommodates' has values of type: <class 'numpy.int64'>
Column 'bathrooms_text' has values of type: <class 'str'>
Column 'beds' has values of type: <class 'numpy.float64'>
Column 'amenities' has values of type: <class 'str'>
Column 'price' has values of type: <class 'numpy.float64'>
Column 'minimum_nights' has values of type: <class 'numpy.int64'>
Column 'maximum_nights' has values of type: <class 'numpy.int64'>
Column 'minimum_minimum_nights' has values of type: <class 'numpy.int64'>
Column 'maximum_nights_avg_ntm' has values of type: <class 'numpy.float64'>
Column 'has_availability' has values of type: <class 'str'>
Column 'availability_30' has values of type: <class 'numpy.int64'>
Column 'availability_60' has values of type: <class 'numpy.int64'>
Column 'availability_90' has values of type: <class 'numpy.int64'>
Column 'availability_365' has values of type: <class 'numpy.int64'>
Column 'calendar_last_scraped' has values of type: <class 'str'>
Column 'number_of_reviews_ltm' has values of type: <class 'numpy.int64'>
Column 'number_of_reviews_l30d' has values of type: <class 'numpy.int64'>
Column 'first_review' has values of type: <class 'str'>
Column 'review_scores_accuracy' has values of type: <class 'numpy.float64'>
Column 'review_scores_cleanliness' has values of type: <class 'numpy.float64'>
Column 'review_scores_checkin' has values of type: <class 'numpy.float64'>
Column 'review_scores_communication' has values of type: <class 'numpy.float64'>
Column 'review_scores_location' has values of type: <class 'numpy.float64'>
Column 'review_scores_value' has values of type: <class 'numpy.float64'>
Column 'calculated_host_listings_count' has values of type: <class 'numpy.int64'>
Column 'calculated_host_listings_count_entire_homes' has values of type: <class 'numpy.int64'>
Column 'calculated_host_listings_count_private_rooms' has values of type: <class 'numpy.int64'>
Column 'calculated_host_listings_count_shared_rooms' has values of type: <class 'numpy.int64'>
Column 'reviews_per_month' has values of type: <class 'numpy.float64'>
Column 'ln_price' has values of type: <class 'numpy.float64'>

In [29]:
airbnb2

,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,ln_price
0,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/5c087...,1.0,2.0,"['email', 'phone']",t,f,Bushwick,...,5.00,5.00,4.80,5.00,1,0,1,0,0.06,4.174387
1,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/e204b...,1.0,1.0,"['email', 'phone']",t,t,Hell's Kitchen,...,NaN,NaN,NaN,NaN,1,0,1,0,NaN,4.700480
2,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/65d77...,1.0,1.0,"['email', 'phone']",t,f,Sunnyside,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,4.595120
3,NaN,NaN,f,https://a0.muscache.com/im/users/4298654/profi...,1.0,2.0,"['email', 'phone', 'work_email']",t,t,Bedford-Stuyvesant,...,5.00,5.00,5.00,5.00,1,1,0,0,0.03,4.248495
4,NaN,100%,t,https://a0.muscache.com/im/pictures/user/41ec9...,1.0,1.0,"['email', 'phone']",t,t,Bedford-Stuyvesant,...,4.95,4.91,4.94,4.92,1,1,0,0,1.26,5.135798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38787,100%,94%,t,https://a0.muscache.com/im/users/21020951/prof...,1.0,6.0,"['email', 'phone']",t,t,Bedford-Stuyvesant,...,5.00,4.83,4.61,4.61,1,0,1,0,0.34,4.553877
38788,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/8daf5...,2.0,3.0,"['email', 'phone']",t,t,Upper West Side,...,5.00,5.00,5.00,5.00,2,0,2,0,0.01,4.317488
38789,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/8daf5...,2.0,3.0,"['email', 'phone']",t,t,Upper West Side,...,4.71,4.86,5.00,4.86,2,0,2,0,0.07,4.442651
38790,90%,100%,t,https://a0.muscache.com/im/pictures/user/9a273...,2.0,6.0,"['email', 'phone']",t,t,Long Island City,...,4.80,5.00,4.60,4.40,2,2,0,0,0.22,4.976734
38791,90%,100%,t,https://a0.muscache.com/im/pictures/user/9a273...,2.0,6.0,"['email', 'phone']",t,t,Williamsburg,...,5.00,4.67,5.00,4.67,2,2,0,0,0.25,5.220356

In [30]:
print(airbnb2['review_scores_value'].value_counts)

<bound method IndexOpsMixin.value_counts of 0        5.00
1         NaN
2         NaN
3        5.00
4        4.92
         ...
38787    4.61
38788    5.00
38789    4.86
38790    4.40
38791    4.67
Name: review_scores_value, Length: 38783, dtype: float64>

### Dealing with Amenities

In [31]:
print(airbnb2['amenities'].head(1))

amenities = airbnb2['amenities'].str.split(',')
amenities_table = pd.Series([item for sublist in amenities for item in sublist]).value_counts()
sorted_table = amenities_table.sort_values(ascending=False)
print(sorted_table.head())

0    ["Body soap", "Dryer", "Refrigerator", "Wifi",...
Name: amenities, dtype: object

 "Wifi"                     35172
 "Kitchen"                  32172
 "Essentials"               31170
 "Carbon monoxide alarm"    29827
 "Hangers"                  27393
Name: count, dtype: int64

### Transform amenities into a binary indicator matrix

In [32]:
amenities_table = airbnb2['amenities'].str.get_dummies(sep=',')
print(amenities_table.head())
amenities_table.describe()

     Bodywash body soap"    Head and Shoulders Dandruff Shampoo shampoo"
0                      0                                               0  \
1                      0                                               0
2                      0                                               0
3                      0                                               0
4                      0                                               0

     body soap"   " Bertazzoni stainless steel oven"
0             0                                    0  \
1             0                                    0
2             0                                    0
3             0                                    0
4             0                                    0

    " Bose Speaker Bluetooth sound system"
0                                        0  \
1                                        0
2                                        0
3                                        0
4                                        0

    " Bowers & Wilkins  sound system"
0                                   0  \
1                                   0
2                                   0
3                                   0
4                                   0

    " Eco Botanics Travel Size  conditioner"
0                                          0  \
1                                          0
2                                          0
3                                          0
4                                          0

    " Eco Botanics Travel Size  shampoo"
0                                      0  \
1                                      0
2                                      0
3                                      0
4                                      0

    " Eco Botanics Travel Size body soap"
0                                       0  \
1                                       0
2                                       0
3                                       0
4                                       0

    " Eco Botanics Travel Size conditioner"  ...  ["Wifi"  ["Wifi"]
0                                         0  ...        0         0  \
1                                         0  ...        0         0
2                                         0  ...        0         0
3                                         0  ...        0         0
4                                         0  ...        0         0

   ["Wilpool refrigerator"  ["Window AC unit"  ["Window AC unit"]
0                        0                  0                   0  \
1                        0                  0                   0
2                        0                  0                   0
3                        0                  0                   0
4                        0                  0                   0

   ["Window guards"  ["Wine glasses"  ["Xx shampoo"  []  dove body soap"
0                 0                0              0   0                0
1                 0                0              0   0                0
2                 0                0              0   0                0
3                 0                0              0   0                0
4                 0                0              0   0                0

[5 rows x 6024 columns]

,"Bodywash body soap""","Head and Shoulders Dandruff Shampoo shampoo""","body soap""",""" Bertazzoni stainless steel oven""",""" Bose Speaker Bluetooth sound system""",""" Bowers & Wilkins sound system""",""" Eco Botanics Travel Size conditioner""",""" Eco Botanics Travel Size shampoo""",""" Eco Botanics Travel Size body soap""",""" Eco Botanics Travel Size conditioner""",...,"[""Wifi""","[""Wifi""]","[""Wilpool refrigerator""","[""Window AC unit""","[""Window AC unit""]","[""Window guards""","[""Wine glasses""","[""Xx shampoo""",[],"dove body soap"""
count,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,...,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000,38783.000000
mean,0.000026,0.000026,0.000026,0.000026,0.000026,0.000026,0.000026,0.000026,0.000103,0.000077,...,0.003507,0.000129,0.000026,0.000052,0.000026,0.000052,0.000052,0.000077,0.002836,0.000026
std,0.005078,0.005078,0.005078,0.005078,0.005078,0.005078,0.005078,0.005078,0.010155,0.008795,...,0.059114,0.011354,0.005078,0.007181,0.005078,0.007181,0.007181,0.008795,0.053182,0.005078
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Top 10 Amenities in New York City

In [33]:
amenities_nyc = airbnb2['amenities'].str.split(',')
amenities_table_nyc = pd.Series([item for sublist in amenities_nyc for item in sublist]).value_counts()

# Top 10 amenities in NYC
top_10_nyc_amenities = amenities_table_nyc.head(10)
print(top_10_nyc_amenities)

 "Wifi"                     35172
 "Kitchen"                  32172
 "Essentials"               31170
 "Carbon monoxide alarm"    29827
 "Hangers"                  27393
 "Air conditioning"         25858
 "Heating"                  25104
 "Hot water"                24623
 "Smoke alarm"              21657
 "Dishes and silverware"    21198
Name: count, dtype: int64

In [34]:
amenities = [col for col in airbnb2 if col.startswith("d_")]

In [35]:
variable_names = airbnb2.columns.tolist()
variable_table = pd.DataFrame(variable_names, columns=["Variable Names"])
pd.set_option('display.max_rows', None)
print(variable_table)

                                  Variable Names
0                             host_response_rate
1                           host_acceptance_rate
2                              host_is_superhost
3                             host_thumbnail_url
4                            host_listings_count
5                      host_total_listings_count
6                             host_verifications
7                           host_has_profile_pic
8                         host_identity_verified
9                         neighbourhood_cleansed
10                  neighbourhood_group_cleansed
11                                      latitude
12                                     longitude
13                                 property_type
14                                     room_type
15                                  accommodates
16                                bathrooms_text
17                                          beds
18                                     amenities
19                                         price
20                                minimum_nights
21                                maximum_nights
22                        minimum_minimum_nights
23                        maximum_nights_avg_ntm
24                              has_availability
25                               availability_30
26                               availability_60
27                               availability_90
28                              availability_365
29                         calendar_last_scraped
30                         number_of_reviews_ltm
31                        number_of_reviews_l30d
32                                  first_review
33                        review_scores_accuracy
34                     review_scores_cleanliness
35                         review_scores_checkin
36                   review_scores_communication
37                        review_scores_location
38                           review_scores_value
39                calculated_host_listings_count
40   calculated_host_listings_count_entire_homes
41  calculated_host_listings_count_private_rooms
42   calculated_host_listings_count_shared_rooms
43                             reviews_per_month
44                                      ln_price

In [36]:
airbnb2.to_csv('/Users/jacopobinati/Desktop/Prediction ML/assignment2/listings_OctFINAL.csv', index=False)