Take April and as City New York City

In [1]:
import pandas as pd
import numpy as np
import patsy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import lars_path
from sklearn.linear_model import LinearRegression, Lasso, LassoCV
from sklearn.metrics import r2_score
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
%matplotlib inline

In [2]:
airbnbOCT= pd.read_csv("/Users/jacopobinati/Desktop/HM2/listings_apr.csv")
airbnbOCT.head()

/var/folders/6t/d3d0rh5d1rd426bk9g_mnhd00000gn/T/ipykernel_91753/3853903799.py:1: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnbOCT= pd.read_csv("/Users/jacopobinati/Desktop/HM2/listings_apr.csv")

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,765948794133787266,https://www.airbnb.com/rooms/765948794133787266,20230405045506,2023-04-05,city scrape,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,488760226,...,4.89,4.72,4.94,NaN,t,2,1,1,0,4.46
1,13060365,https://www.airbnb.com/rooms/13060365,20230405045506,2023-04-06,previous scrape,Private Bedroom in 1800 Sq Ft loft,Quiet furnished private bedroom in a 5 BDR Tri...,Tribeca is one of the best neighborhoods in Ma...,https://a0.muscache.com/pictures/49b803fe-9c5a...,5252741,...,NaN,NaN,NaN,NaN,f,1,0,1,0,0.01
2,13316028,https://www.airbnb.com/rooms/13316028,20230405045506,2023-04-06,previous scrape,Duplex Condo in Williamsburg- Pvt Ensuite Bath!,"A bright, airy hideaway located on the norther...",NaN,https://a0.muscache.com/pictures/71edd41f-54f6...,6459374,...,5.00,4.75,5.00,NaN,f,1,0,1,0,0.11
3,13308276,https://www.airbnb.com/rooms/13308276,20230405045506,2023-04-06,previous scrape,The Manhattan - Apartment Near Central Park,Only 1 block from Central Park and 2 blocks fr...,The Upper West Side is filled with beautifully...,https://a0.muscache.com/pictures/7792cacc-e141...,75085688,...,4.70,4.60,4.90,NaN,f,1,1,0,0,0.12
4,13355711,https://www.airbnb.com/rooms/13355711,20230405045506,2023-04-06,previous scrape,Private room in Washington Heights,You’ll love my place because of the neighborho...,NaN,https://a0.muscache.com/pictures/e2822c2f-a54b...,39644709,...,5.00,4.00,5.00,NaN,f,1,0,1,0,0.01

In [3]:
column_info = pd.DataFrame({
    "ID": range(len(airbnbOCT.columns)),
    "Variable": airbnbOCT.columns
})
print(column_info)

    ID                                      Variable
0    0                                            id
1    1                                   listing_url
2    2                                     scrape_id
3    3                                  last_scraped
4    4                                        source
..  ..                                           ...
70  70                calculated_host_listings_count
71  71   calculated_host_listings_count_entire_homes
72  72  calculated_host_listings_count_private_rooms
73  73   calculated_host_listings_count_shared_rooms
74  74                             reviews_per_month

[75 rows x 2 columns]

### Cleaning Dataset
#### After indexing the columns, i dropped some of them (can be checked under). Moreover, I decided to keep a threshold of 40% for varibales with NAs. If we are too narrow, we will reduce the number of variable drastically.

In [4]:
columns_to_drop = [
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
    11, 12, 13, 15, 20,
    21,
    44, 45, 46, 47,
    56, 60,
    61, 69
]
airbnb_dropped = airbnbOCT.drop(columns=airbnbOCT.columns[columns_to_drop])
threshold = 0.4
airbnb_nmiss = airbnb_dropped.loc[:, airbnb_dropped.isnull().mean() < threshold]
print(airbnb_nmiss.describe())
airbnb2 = airbnb_nmiss.copy()
airbnb2['price'] = airbnb2['price'].replace('[\$,]', '', regex=True).astype(float)

airbnb2['price'] = pd.to_numeric(airbnb2['price'], errors='coerce')
airbnb2 = airbnb2[airbnb2['price'] <= 10000]
airbnb2['ln_price'] = np.log(airbnb2['price'])

       host_listings_count  host_total_listings_count      latitude
count         43236.000000               43236.000000  43241.000000  \
mean            114.687136                 173.536613     40.728693
std             592.050443                 832.501414      0.057481
min               1.000000                   1.000000     40.500314
25%               1.000000                   1.000000     40.687610
50%               2.000000                   3.000000     40.724430
75%               5.000000                   8.000000     40.762510
max            4815.000000                8456.000000     40.911380

          longitude  accommodates      bedrooms          beds  minimum_nights
count  43241.000000  43241.000000  39365.000000  42356.000000    43241.000000  \
mean     -73.943633      2.947018      1.411965      1.646992       18.205314
std        0.056330      2.109676      0.810242      1.144478       27.104094
min      -74.249840      0.000000      1.000000      1.000000        1.000000
25%      -73.981660      2.000000      1.000000      1.000000        2.000000
50%      -73.952730      2.000000      1.000000      1.000000       10.000000
75%      -73.924200      4.000000      2.000000      2.000000       30.000000
max      -73.710870     16.000000     16.000000     21.000000     1250.000000

       maximum_nights  minimum_minimum_nights  ...  review_scores_cleanliness
count    4.324100e+04            43232.000000  ...               32208.000000  \
mean     5.115266e+04               18.400675  ...                   4.633327
std      1.032807e+07               29.905459  ...                   0.543277
min      1.000000e+00                1.000000  ...                   0.000000
25%      6.000000e+01                2.000000  ...                   4.500000
50%      3.650000e+02                7.000000  ...                   4.800000
75%      1.125000e+03               30.000000  ...                   5.000000
max      2.147484e+09             1250.000000  ...                   5.000000

       review_scores_checkin  review_scores_communication
count           32194.000000                 32203.000000  \
mean                4.811810                     4.810174
std                 0.418789                     0.440215
min                 0.000000                     0.000000
25%                 4.800000                     4.800000
50%                 4.950000                     4.960000
75%                 5.000000                     5.000000
max                 5.000000                     5.000000

       review_scores_location  review_scores_value
count            32191.000000         32191.000000  \
mean                 4.731497             4.639428
std                  0.413506             0.501808
min                  0.000000             0.000000
25%                  4.630000             4.530000
50%                  4.850000             4.770000
75%                  5.000000             4.960000
max                  5.000000             5.000000

       calculated_host_listings_count
count                    43241.000000  \
mean                        29.372702
std                         95.606464
min                          1.000000
25%                          1.000000
50%                          1.000000
75%                          4.000000
max                        543.000000

       calculated_host_listings_count_entire_homes
count                                 43241.000000  \
mean                                     14.091580
std                                      65.939834
min                                       0.000000
25%                                       0.000000
50%                                       1.000000
75%                                       2.000000
max                                     543.000000

       calculated_host_listings_count_private_rooms
count                                  43241.000000  \
mean                                      15.147638
std                                       63.687243
min                                        0.000000
25%                                        0.000000
50%                                        0.000000
75%                                        2.000000
max                                      433.000000

       calculated_host_listings_count_shared_rooms  reviews_per_month
count                                 43241.000000       32635.000000
mean                                      0.067922           1.169434
std                                       0.723203           1.791287
min                                       0.000000           0.010000
25%                                       0.000000           0.130000
50%                                       0.000000           0.520000
75%                                       0.000000           1.680000
max                                      20.000000          81.220000

[8 rows x 28 columns]

/Users/jacopobinati/opt/miniconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [5]:
for column in airbnb2.columns:
    value_type = type(airbnb2.loc[0, column])
    print(f"Column '{column}' has values of type: {value_type}")

Column 'host_response_rate' has values of type: <class 'str'>
Column 'host_acceptance_rate' has values of type: <class 'str'>
Column 'host_is_superhost' has values of type: <class 'str'>
Column 'host_thumbnail_url' has values of type: <class 'str'>
Column 'host_listings_count' has values of type: <class 'numpy.float64'>
Column 'host_total_listings_count' has values of type: <class 'numpy.float64'>
Column 'host_verifications' has values of type: <class 'str'>
Column 'host_has_profile_pic' has values of type: <class 'str'>
Column 'host_identity_verified' has values of type: <class 'str'>
Column 'neighbourhood_cleansed' has values of type: <class 'str'>
Column 'neighbourhood_group_cleansed' has values of type: <class 'str'>
Column 'latitude' has values of type: <class 'numpy.float64'>
Column 'longitude' has values of type: <class 'numpy.float64'>
Column 'property_type' has values of type: <class 'str'>
Column 'room_type' has values of type: <class 'str'>
Column 'accommodates' has values of type: <class 'numpy.int64'>
Column 'bathrooms_text' has values of type: <class 'str'>
Column 'bedrooms' has values of type: <class 'numpy.float64'>
Column 'beds' has values of type: <class 'numpy.float64'>
Column 'amenities' has values of type: <class 'str'>
Column 'price' has values of type: <class 'numpy.float64'>
Column 'minimum_nights' has values of type: <class 'numpy.int64'>
Column 'maximum_nights' has values of type: <class 'numpy.int64'>
Column 'minimum_minimum_nights' has values of type: <class 'numpy.float64'>
Column 'maximum_nights_avg_ntm' has values of type: <class 'numpy.float64'>
Column 'has_availability' has values of type: <class 'str'>
Column 'availability_30' has values of type: <class 'numpy.int64'>
Column 'availability_60' has values of type: <class 'numpy.int64'>
Column 'availability_90' has values of type: <class 'numpy.int64'>
Column 'availability_365' has values of type: <class 'numpy.int64'>
Column 'calendar_last_scraped' has values of type: <class 'str'>
Column 'number_of_reviews_ltm' has values of type: <class 'numpy.int64'>
Column 'number_of_reviews_l30d' has values of type: <class 'numpy.int64'>
Column 'first_review' has values of type: <class 'str'>
Column 'review_scores_accuracy' has values of type: <class 'numpy.float64'>
Column 'review_scores_cleanliness' has values of type: <class 'numpy.float64'>
Column 'review_scores_checkin' has values of type: <class 'numpy.float64'>
Column 'review_scores_communication' has values of type: <class 'numpy.float64'>
Column 'review_scores_location' has values of type: <class 'numpy.float64'>
Column 'review_scores_value' has values of type: <class 'numpy.float64'>
Column 'calculated_host_listings_count' has values of type: <class 'numpy.int64'>
Column 'calculated_host_listings_count_entire_homes' has values of type: <class 'numpy.int64'>
Column 'calculated_host_listings_count_private_rooms' has values of type: <class 'numpy.int64'>
Column 'calculated_host_listings_count_shared_rooms' has values of type: <class 'numpy.int64'>
Column 'reviews_per_month' has values of type: <class 'numpy.float64'>
Column 'ln_price' has values of type: <class 'numpy.float64'>

In [6]:
airbnb2

,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,ln_price
0,100%,100%,f,https://a0.muscache.com/im/pictures/user/87e00...,2.0,5.0,"['email', 'phone']",t,t,Canarsie,...,4.89,4.89,4.72,4.94,2,1,1,0,4.46,3.401197
1,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/dbdbd...,1.0,5.0,"['email', 'phone']",t,t,Civic Center,...,NaN,NaN,NaN,NaN,1,0,1,0,0.01,3.951244
2,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/2b9ba...,1.0,1.0,"['email', 'phone']",t,t,Greenpoint,...,5.00,5.00,4.75,5.00,1,0,1,0,0.11,4.787492
3,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/38b3d...,1.0,1.0,"['email', 'phone']",t,f,Upper West Side,...,4.10,4.70,4.60,4.90,1,1,0,0,0.12,5.010635
4,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/9d5f1...,1.0,1.0,"['email', 'phone']",t,t,Washington Heights,...,4.00,5.00,4.00,5.00,1,0,1,0,0.01,3.218876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43236,100%,97%,f,https://a0.muscache.com/im/pictures/user/947ca...,1.0,4.0,"['email', 'phone']",t,t,Fresh Meadows,...,5.00,5.00,5.00,5.00,1,1,0,0,2.00,4.317488
43237,80%,68%,f,https://a0.muscache.com/im/pictures/user/595de...,1.0,1.0,"['email', 'phone']",t,t,Flushing,...,4.95,4.95,4.86,4.91,1,1,0,0,0.51,4.499810
43238,100%,60%,f,https://a0.muscache.com/im/pictures/user/74d2d...,2.0,2.0,['phone'],t,t,Parkchester,...,5.00,5.00,4.67,5.00,2,0,2,0,0.18,4.510860
43239,100%,97%,t,https://a0.muscache.com/im/pictures/user/e43fb...,1.0,1.0,['phone'],t,t,Edenwald,...,4.95,4.86,4.86,4.90,1,0,1,0,1.57,3.970292
43240,98%,99%,t,https://a0.muscache.com/im/pictures/user/dc372...,8.0,15.0,"['email', 'phone']",t,t,Bay Ridge,...,5.00,5.00,4.67,4.67,8,0,8,0,3.00,5.837730

In [7]:
print(airbnb2['review_scores_value'].value_counts)

<bound method IndexOpsMixin.value_counts of 0        4.94
1         NaN
2        5.00
3        4.90
4        5.00
         ...
43236    5.00
43237    4.91
43238    5.00
43239    4.90
43240    4.67
Name: review_scores_value, Length: 43235, dtype: float64>

### Dealing with Amenities

In [8]:
print(airbnb2['amenities'].head(1))

amenities = airbnb2['amenities'].str.split(',')
amenities_table = pd.Series([item for sublist in amenities for item in sublist]).value_counts()
sorted_table = amenities_table.sort_values(ascending=False)
print(sorted_table.head())

0    ["TV", "Wifi", "Kitchen", "Carbon monoxide ala...
Name: amenities, dtype: object
 "Wifi"                     38023
 "Kitchen"                  37869
 "Essentials"               35073
 "Carbon monoxide alarm"    33122
 "Hangers"                  29656
Name: count, dtype: int64

### Transform amenities into a binary indicator matrix

In [9]:
amenities_table = airbnb2['amenities'].str.get_dummies(sep=',')
print(amenities_table.head())
amenities_table.describe()

## Top 10 Amenities in New York City

In [ ]:
amenities_nyc = airbnb2['amenities'].str.split(',')
amenities_table_nyc = pd.Series([item for sublist in amenities_nyc for item in sublist]).value_counts()

# Top 10 amenities in NYC
top_10_nyc_amenities = amenities_table_nyc.head(10)
print(top_10_nyc_amenities)

 "Wifi"                     35172
 "Kitchen"                  32172
 "Essentials"               31170
 "Carbon monoxide alarm"    29827
 "Hangers"                  27393
 "Air conditioning"         25858
 "Heating"                  25104
 "Hot water"                24623
 "Smoke alarm"              21657
 "Dishes and silverware"    21198
Name: count, dtype: int64

In [ ]:
amenities = [col for col in airbnb2 if col.startswith("d_")]

In [ ]:
variable_names = airbnb2.columns.tolist()
variable_table = pd.DataFrame(variable_names, columns=["Variable Names"])
pd.set_option('display.max_rows', None)
print(variable_table)

                                  Variable Names
0                             host_response_rate
1                           host_acceptance_rate
2                              host_is_superhost
3                             host_thumbnail_url
4                            host_listings_count
5                      host_total_listings_count
6                             host_verifications
7                           host_has_profile_pic
8                         host_identity_verified
9                         neighbourhood_cleansed
10                  neighbourhood_group_cleansed
11                                      latitude
12                                     longitude
13                                 property_type
14                                     room_type
15                                  accommodates
16                                bathrooms_text
17                                          beds
18                                     amenities
19                                         price
20                                minimum_nights
21                                maximum_nights
22                        minimum_minimum_nights
23                        maximum_nights_avg_ntm
24                              has_availability
25                               availability_30
26                               availability_60
27                               availability_90
28                              availability_365
29                         calendar_last_scraped
30                         number_of_reviews_ltm
31                        number_of_reviews_l30d
32                                  first_review
33                        review_scores_accuracy
34                     review_scores_cleanliness
35                         review_scores_checkin
36                   review_scores_communication
37                        review_scores_location
38                           review_scores_value
39                calculated_host_listings_count
40   calculated_host_listings_count_entire_homes
41  calculated_host_listings_count_private_rooms
42   calculated_host_listings_count_shared_rooms
43                             reviews_per_month
44                                      ln_price

In [ ]:
airbnb2.to_csv('/Users/jacopobinati/Desktop/HM2/listings_APR_FINAL.csv', index=False)